* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
    text-align: center;
}

input {
    margin-top: 20px;
    border-radius: 5px;
    
    border: 1px solid black;
    
    font-size: 16px;
    font-family: "Consolas";
        
    transition: box-shadow 0.5s;
}

input:focus {
    outline: none;
    
    box-shadow: 2px 2px 5px rgba(0,0,0,50%);
}

div#table {
    width: 412px; /* 402, 400 */
    height: 411px;
    
    margin: 20px 50%;
    transform: translateX(-50%);
    
    padding-top: 5px;
    
    border: 1px solid black;
}

button {
    padding: 5px;
    
    outline: none;
    border: 1px solid black;
    
    background-color: white;
    
    transition: all 0.5s;
}

button:hover {
    box-shadow: 2px 2px 5px rgba(0,0,0,50%);
    background-color: #ddd;
    
    cursor: pointer;
}
